body {
  background-color: rgb(203, 231, 77);
  margin-top: 50px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}

.utilButtons {
  display: flex;
}
